@font-face {
    font-family: "DavidLibre";
    src: url("./fonts/DavidLibre-Regular.ttf")
}

:root {
    --bg-color: silver;
    --paper-color: white;
    --paper-border-color: #454545;
}

* {
    font-family: DavidLibre, serif;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

.container {
    user-select: none;
    height: 100%;
    width: 100%;
    padding-top: 150px;
    background-color: var(--bg-color);
}

.paper {
    margin: auto;
    width: 600px;
    background-color: var(--paper-color);
    border: 0.5px solid var(--paper-border-color);
    padding-bottom: 30px;
}

.first-title {
    margin-top: 80px;
    font-size: 18px;
    direction: rtl;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.text {
    font-size: 17px;
    margin-top: 30px;
    direction: rtl;
    text-align: center;
}

.signing-title {
    font-size: 15px;
    font-weight: bold;
    margin-top: 80px;    
    direction: rtl;
    text-align: center;
}

table {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    direction: rtl;
}

td {
    padding: 10px;
    white-space: nowrap;
} 

@media only screen and (max-width: 615px) {
    body {
        overflow: auto;
    }

    .container {
        padding-top: 50px;
    }

    .paper {
        width: 98%;
        padding-bottom: 20px;
    }

    .first-title, .signing-title {
        margin-top: 30px;
    }

    table {
        margin-top: 20px;
    }

    td {
        padding: none;
        font-size: 14px;
    }
  }
